debug/
target/
Cargo.lock
**/*.rs.bk
*.pdb
.idea/
*.iml
*.ipr
cmake-build-*/
*.iws
out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
.env
**/pslm/
gui/node_modules
.DS_Store
db
.db
rainbow-pslm
.run
test_command_stub.sh
venv


# VAULT
vault/**
!vault/**/
!vault/**/*.example
!vault/**/*.gitkeep
static/vault/**
!static/vault/**/
!static/vault/**/*.example
!static/vault/**/*.gitkeep

# ENVIRONMENT
static/environment/envs/**
!static/environment/envs/**/*.example
