# In any case, such as Provider or Consumer
HOST_URL=127.0.0.1
HOST_PORT=1234

# Database layer
# [postgres, mongo, mysql, memory]
DB_TYPE=postgres
DB_URL=localhost
DB_PORT=5433
DB_USER=ds-protocol-provider
DB_PASSWORD=ds-protocol-provider
DB_DATABASE=ds-protocol-provider

# In case you are Consumer
PROVIDER_HOST=127.0.0.1
PROVIDER_PORT=1234

# In case you are Provider and wants auth
AUTH_URL=127.0.0.1
AUTH_PORT=1232

# In case you are Provider and wants catalog
CATALOG_AS_SERVICE=false
CATALOG_SERVICE_URL=127.0.0.1
CATALOG_SERVICE_PORT=1232

# In case you are Provider and wants auth
CONTRACTS_AS_SERVICE=false
CONTRACTS_SERVICE_URL=127.0.0.1
CONTRACTS_SERVICE_PORT=1232

# SSI auth
SSI_AUTH_ENABLED=true
SSI_HOLDER_URL=127.0.0.1
SSI_HOLDER_PORT=4000
SSI_VERIFIER_URL=127.0.0.1
SSI_VERIFIER_PORT=4001