# -------------------------------------------------
# Vault connection
# -------------------------------------------------
VAULT_ADDR=https://127.0.0.1:8200
VAULT_TOKEN=COMPLETAR
VAULT_SKIP_VERIFY=false

# CA que firmó el cert del servidor Vault
VAULT_CACERT=/vault/consumer/config/vault-ca.pem

# Cert cliente 
VAULT_CLIENT_CERT=/vault/consumer/config/vault-cert.pem
VAULT_CLIENT_KEY=/vault/consumer/config/vault-key.pem

# -------------------------------------------------
# Path to secrets
# -------------------------------------------------
VAULT_PATH=COMPLETAR

# -------------------------------------------------
# Vault logical layout
# -------------------------------------------------

# KV v2 mount 
VAULT_MOUNT=COMPLETAR

# -------------------------------------------------
# Secret paths (RELATIVE to the mount)
# -------------------------------------------------

# Database credentials
VAULT_APP_DB=COMPLETAR

# Wallet credentials (optional)
VAULT_APP_WALLET=COMPLETAR

# Federation 
VAULT_APP_PRIV_KEY=COMPLETAR
VAULT_APP_PUB_PKEY=COMPLETAR
VAULT_APP_CERT=COMPLETAR

VAULT_APP_CLIENT_CERT=COMPLETAR
VAULT_APP_CLIENT_KEY=COMPLETAR
VAULT_APP_ROOT_CLIENT_KEY=COMPLETAR