# -------------------------------------------------
# Vault connection
# -------------------------------------------------
VAULT_ADDR=https://127.0.0.1:8200
VAULT_TOKEN=COMPLETAR
VAULT_SKIP_VERIFY=false

# CA que firmó el cert del servidor Vault
VAULT_CACERT=/vault/consumer/config/vault-ca.pem

# Cert cliente (mTLS) si lo usas
VAULT_CLIENT_CERT=/vault/consumer/config/vault-cert.pem
VAULT_CLIENT_KEY=/vault/consumer/config/vault-key.pem

# -------------------------------------------------
# Path to secrets
# -------------------------------------------------
VAULT_PATH=COMPLETAR

# -------------------------------------------------
# Vault logical layout
# -------------------------------------------------

# KV v2 mount (ej: vault kv enable -path=rainbow kv-v2)
VAULT_MOUNT=COMPLETAR

# -------------------------------------------------
# Secret paths (RELATIVE to the mount)
# -------------------------------------------------

# Database credentials
VAULT_DB=COMPLETAR

# Wallet credentials (optional)
VAULT_WALLET=COMPLETAR

# Federation / crypto material
VAULT_F_PRIV_KEY=COMPLETAR
VAULT_F_PUB_PKEY=COMPLETAR
VAULT_F_CERT=COMPLETAR
