version: "3.5"
services:

  # ====================================================================
  # PROVIDER Persistence layer =========================================
  # ====================================================================
  ds_core_provider:
    # platform: linux/amd64
    container_name: "ds_core_provider"
    image: "postgres"
    restart: always
    environment:
      POSTGRES_PASSWORD: ds_provider
      POSTGRES_USER: ds_provider
      POSTGRES_DB: ds_provider
    ports:
      - "1400:5432"

  ds_core_provider_redis:
    image: redis:alpine
    container_name: ds_core_provider_redis
    restart: always
    ports:
      - "6379:6379"
    command: >
      redis-server 
      --requirepass ds_core_provider_redis
      --user admin on >ds_core_provider_redis ~* +@all

  provider_vault:
    image: hashicorp/vault:1.21
    container_name: vault-provider
    ports:
      - "8201:8200"
    cap_add:
      - IPC_LOCK
    volumes:
      - ../vault/provider/config:/vault/config
      - ../vault/provider/data:/vault/file
    environment:
      VAULT_ADDR: http://127.0.0.1:8201
      VAULT_LOCAL_CONFIG: >
        {
          "storage": { "file": { "path": "/vault/file" } },
          "listener": [{
            "tcp": {
              "address": "0.0.0.0:8201",
              "tls_disable": 1
            }
          }],
          "ui": true,
          "api_addr": "http://127.0.0.1:8201",
          "default_lease_ttl": "168h",
          "max_lease_ttl": "720h"
        }
    command: server

  # ====================================================================
  # CONSUMER Persistence layer =========================================
  # ====================================================================
  ds_core_consumer:
    # platform: linux/amd64
    container_name: "ds_core_consumer"
    image: "postgres"
    restart: always
    environment:
      POSTGRES_PASSWORD: ds_consumer
      POSTGRES_USER: ds_consumer
      POSTGRES_DB: ds_consumer
    ports:
      - "1300:5432"
  consumer_vault:
    image: hashicorp/vault:1.21
    container_name: vault-consumer
    ports:
      - "8202:8200"
    cap_add:
      - IPC_LOCK
    volumes:
      - ../vault/consumer/config:/vault/config
      - ../vault/consumer/data:/vault/file
    environment:
      VAULT_ADDR: http://127.0.0.1:8200
      VAULT_LOCAL_CONFIG: >
        {
          "storage": { "file": { "path": "/vault/file" } },
          "listener": [{
            "tcp": {
              "address": "0.0.0.0:8200",
              "tls_disable": 1
            }
          }],
          "ui": true,
          "api_addr": "http://127.0.0.1:8200",
          "default_lease_ttl": "168h",
          "max_lease_ttl": "720h"
        }
    command: server
  ds_core_consumer_redis:
    image: redis:alpine
    container_name: ds_core_consumer_redis
    restart: always
    ports:
      - "6380:6379"
    command: >
      redis-server 
      --requirepass ds_core_consumer_redis
      --user admin on >ds_core_consumer_redis ~* +@all

  # ====================================================================
  # IDM ================================================================
  # Keycloack
  # ====================================================================
  idm:
    container_name: "idm"
    image: "quay.io/keycloak/keycloak:26.4.7"
    restart: always
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin
    ports:
      - "2000:8080"
    command:
      - "start-dev"


